
body{
font-family: Arial, Helvetica, sans-serif;
font-size: 8;
font-weight: bold;
color: rgb(228, 227, 230);
background-color: #8ae9a9;
}

h1{
  text-align: center;
  color:rgb(33, 97, 3);
  font-size:40;
}

h2{
  text-align: center;
  color:rgb(8, 59, 4);
  font-size:25;
}

table{
  padding:10px;
}

input[type=text],[type=date],[type=month],[type=number],[type=email],[type=url],[type=password],[type=week],[type=time],select, textarea {
    background-color: white;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding: 5px;
    margin:5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    font-size: 15px;
    font-weight: bold;
    color:#0C0D4C ;
  }

  
input[type=submit],[type=reset] {
    background-color: rgb(104, 102, 2);
    border-radius: 10px;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    -webkit-transition-duration: 0.10s; /* safary */
    transition-duration: 0.2s;
    cursor: pointer;
    /* box-shadow: 5px 5px 5px #aaaaaa; */
  }

  input[type=submit]:hover {
    background-color: #8a827c;
    color: yellow; 
  }
  
  input[type=reset]:hover {
    background-color: #8a827c;
    color: yellow;
  }
  